    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
    margin: 0px;
    padding: 0px;
    background-color: #fefaee;
}


.bg-dark {
    background-color: #72490e!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fefaee;
    border: 2px solid #8c5e0f;
    margin: 2px;
    border-radius: 10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 1px solid #8c5e0f;
    border-radius: 10px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #72490e;
    border-radius: 10px;
}

.dropdown-item {
    color: #fefaee;
    background-color: #72490E;
    border-radius: 10px;
}

.dropdown-item:hover {
    color: #fefaee;
    background-color: #8c5e0f;
    border-radius: 10px;
}

.a {
    margin: 3px;
    color: #fefaee;
    border: 2px solid #8c5e0f;
    border-radius: 20px;
    text-decoration: none;
}

.btn {
    color: #fefaee;
    border: 2px solid #8c5e0f;
    background-color: #72490E;
    border-radius: 20px;
}

.a:hover {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 2px solid #8c5e0f;
    border-radius: 20px;
}

.a:active {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 2px solid #8c5e0f;
    border-radius: 20px;
}

.a:selected {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 2px solid #8c5e0f;
    border-radius: 20px;
}

.a:disabled {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 2px solid #8c5e0f;
    border-radius: 20px;
}

#form-btnn:hover {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 2px solid #8c5e0f;
    border-radius: 20px;
}

#form-btnn:active {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 2px solid #8c5e0f;
    border-radius: 20px;
}

#form-btnn:selected {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 2px solid #8c5e0f;
    border-radius: 20px;
}

#form-btnn:disabled {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 2px solid #8c5e0f;
    border-radius: 20px;
}


.collapse form {
    margin-left: 10px;
}


.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
    border-color: #FEFAEE;
}

.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
    border-color: #FEFAEE;
}

.btn-twitter:hover {
    color: black;
}

.btn-facebook:hover {
    color: black;
}

#sub-btn {
    color: #fefaee;
    background-color: #72490E;
    border: 2px solid #8c5e0f;
}

#sub-btn:hover {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 1px solid #8c5e0f;
}

#sub-btn:active {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 1px solid #8c5e0f;
}

#sub-btn:visited {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 1px solid #8c5e0f;
}

#sub-btn:selected {
    color: #fefaee;
    background-color: #8c5e0f;
    border: 1px solid #8c5e0f;
}


.text-center {
    color: #8c5e0f;
}



footer {
    background-color: #72490e;
    color: #d5d5d5;
    
    
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #fefaee;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

h5 {
    color: #fefaee;

}

@media (max-width: 992px) {
    .navbar-dark .navbar-nav .nav-link {
        padding-left: 10px;
    }
    .collapse button {
        margin: 0 auto;
    }
    .collapse button:hover {
        margin: 0 auto;
    }
    .form-control {
        width: 100%;
    }
    .form-inline .form-control {
        width: 100%;
        margin: 0 auto;
        margin-left: 3px;
        margin-bottom: 10px;
    }
    .form-control:focus {
        width: 100%;
        margin: 0 auto;
        margin-left: 3px;
        margin-bottom: 10px;
    }
    .btn-group,
    .btn-group-vertical {
        margin: 0 auto;
        text-align: center;
    }
    .h2,
    h2 {
        font-size: 2rem;
    }
    .social a {
        font-size: 3rem;
        padding: 1.5rem;
    }
    #form-btnn {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {

    .navbar-dark .navbar-nav .nav-link {
        padding-left: 7px;
        font-weight: bold;
    }
    .dropdown-item {
        font-weight: bold;
    }
    .collapse button {
        margin: 0 auto;
        font-weight: bold;
    }
    .collapse button:hover {
        margin: 0 auto;
        font-weight: bold;
    }
    .form-control {
        width: 100%;
    }
    .form-inline .form-control {
        width: 100%;
        margin: 0 auto;
        margin-left: 1px;
        margin-bottom: 10px;
    }
    .form-control:focus {
        width: 100%;
        margin: 0 auto;
        margin-left: 1px;
        margin-bottom: 10px;
    }
    .btn-group,
    .btn-group-vertical {
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
    }
    .h2,
    h2 {
        font-size: 1.5rem;
    }
    .social a {
        font-size: 2rem;
        padding: 1rem;
    }

    #form-btnn {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 576px) {


    .navbar-dark .navbar-nav .nav-link {
        padding-left: 5px;
        font-weight: bold;
        text-align: center;
    }
    .dropdown-item {
        font-weight: bold;
        text-align: center;
    }
    .collapse button {
        margin: 0 auto;
        font-weight: bold;
    }
    .collapse button:hover {
        margin: 0 auto;
        font-weight: bold;
    }
    .form-control {
        width: 100%;
    }
    .form-inline .form-control {
        width: 100%;
        margin: 0 auto;
        margin-left: 1px;
    }
    .form-control:focus {
        width: 100%;
        margin: 0 auto;
        margin-left: 1px;
    }
    .btn-group,
    .btn-group-vertical {
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
    }
    .container {
        margin-top: 10%;
    }
    .display-4 {
        font-size: 2rem;
        font-weight: normal;
    }

    .h3,
    h3 {
        font-size: 1.2rem;
    }
    .h2,
    h2 {
        font-size: 1rem;
    }
    .social a {
        font-size: 1.5rem;
        padding: .1rem;
    }
    #form-btnn {
        margin-left: auto;
        margin-right: auto;
    }
    footer h5 {

    font-size: .7rem;
    font-weight: bold;
}

}

    .carousel-item {
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
    }



    [class*="col-"] {
        padding: 1rem;
    }